%section.hero.is-fullheight.has-background-primary
  .hero-head
    %nav.navbar
      .container
        .navbar-brand
          = link_to root_url(subdomain: current_hospital.subdomain), class: "navbar-item" do
            %h1.title
              = current_hospital.name
          %span.navbar-burger.burger{ "data-target": "navMenu" }
            %span
            %span
              %span
        #navMenu.navbar-menu
          .navbar-end
            = link_to "#about", class: "navbar-item" do
              %span Acerca de
            = link_to "#services", class: "navbar-item" do
              %span Servicios
            = link_to "#contact", class: "navbar-item" do
              %span Contacto
            = link_to new_user_session_path, class: "navbar-item" do
              %span.icon
                %i.fas.fa-user
              %span Iniciar sesión
  .hero-body
    .container
      %h1.title
        = current_hospital.description

%section.hero.has-background-white.is-fullheight
  #about.hero-body
    .container
      %h1.title.has-text-centered.is-uppercase
        Acerca de
      = raw current_hospital.about.to_s.html_safe

%section.section.has-background-warning.is-fullheight
  #services.hero-body
    .container
      %h1.title.has-text-centered.is-uppercase
        Expertos en
      .columns.is-multiline
        - tags_spliter(current_hospital).each do |tag|
          .column.is-4
            %article.media.notification
              %figure.media-left
                %span.icon
                  %i.fa.fa-check
              .media-content
                .content
                  = tag

%section.hero.has-background-white.is-fullheight
  #contact.hero-body
    .container
      .columns.has-text-centered
        .column
          %h1.title.is-uppercase
            Dirección
          %pre
            = current_hospital.address
        .column
          %h1.title.is-uppercase
            Horario de atención
          %pre
            = current_hospital.schedule

%footer.footer
  .content
    .columns.has-text-centered
      .column.is-6
        .buttons.is-centered
          = link_to current_hospital.maps, class: "button is-danger", target: "_blank" do
            %span.icon
              %i.fa.fa-2x.fa-street-view
          = link_to current_hospital.linkedin, class: "button is-link", target: "_blank" do
            %span.icon
              %i.fa.fa-2x.fa-linkedin
          = link_to current_hospital.facebook, class: "button is-link", target: "_blank" do
            %span.icon
              %i.fa.fa-2x.fa-facebook
          = link_to current_hospital.twitter, class: "button is-info", target: "_blank" do
            %span.icon
              %i.fa.fa-2x.fa-twitter
      .column.is-6
        = link_to "Hecho por @javasgon", "https://twitter.com/javasgon", target: "_blank"
  .content
    .column.has-text-centered
      Todos los derechos son reservados 2018 -
      = Time.now.year
