.columns.is-multiline
  .column.is-3
    %strong Calle
    %p= @referred_doctor.address_street
  .column.is-3
    %strong Número
    %p= @referred_doctor.address_number
  .column.is-3
    %strong Colonia
    %p= @referred_doctor.address_colony
  .column.is-3
    %strong Código Postal
    %p= @referred_doctor.address_postal_code
  .column.is-3
    %strong Municipio
    %p= @referred_doctor.address_municipality
  .column.is-3
    %strong Estado
    %p= @referred_doctor.address_state
  .column.is-3
    %strong País
    %p= @referred_doctor.address_country
