-# frozen_string_literal: true

= simple_form_for(@referred_doctor) do |f|
  = f.input :full_name
  = f.input :specialty
  = f.input :phone_number, as: :numeric, hint: t("simple_form.hint.defaults.phone_number")

  = render "addresses/address_fields", f: f

  = f.button :submit
