= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    = render "shared/actions", model: :referred_doctor, search_path: referred_doctors_path

= render "shared/section" do
  = render "shared/table" do
    %thead.border-b.border-gray-200.dark:border-gray-700.font-medium
      %tr
        %th{scope: :col, class: "px-6 py-2"} Nombre Completo
        %th{scope: :col, class: "px-6 py-2"} Especialidad
        %th{scope: :col, class: "px-6 py-2"} Número Teléfonico
        %th{scope: :col, class: "px-6 py-2"} Acciones
    %tbody
      - @referred_doctors.each do |referred_doctor|
        %tr.border-b.border-gray-200.dark:border-gray-700
          %td.whitespace-nowrap.px-6.py-4= referred_doctor.full_name
          %td.whitespace-nowrap.px-6.py-4= referred_doctor.specialty
          %td.whitespace-nowrap.px-6.py-4= call_to referred_doctor.phone_number
          %td
            = link_to :editar, [:edit, referred_doctor]
            = link_to :detalle, referred_doctor
