= render 'shared/section' do
  .flex.flex-row
    = link_to :referred_doctors, class: secondary_button do
      %span.fa.fa-arrow-left
      = t('.back')

= render 'shared/section' do
  = render 'form', referred_doctor: @referred_doctor, title: t('helpers.submit.referred_doctor.create')
