%nav.level
  .level-left
    .level-item
      %span.icon
        %i.fa.fa-user-md
      %span.is-uppercase información del doctor
  .level-right
    .level-item
      .buttons
        = link_to referred_doctors_path, class: "button is-link" do
          %span.icon
            %i.fa.fa-arrow-left
          %span Regresar

        = link_to [:edit, @referred_doctor], class: "button is-warning" do
          %span.icon
            %i.fa.fa-edit
          %span Editar

.table-container
  %table.table.is-hoverable.is-fullwidth
    %thead
      %tr
        %th Nombre Completo
        %td= @referred_doctor.full_name
      %tr
        %th Especialidad
        %td= @referred_doctor.specialty
      %tr
        %th Calle
        %td= @referred_doctor.address_street
      %tr
        %th Número
        %td= @referred_doctor.address_number
      %tr
        %th Colonia
        %td= @referred_doctor.address_colony
      %tr
        %th Código Postal
        %td= @referred_doctor.address_postal_code
      %tr
        %th Municipio
        %td= @referred_doctor.address_municipality
      %tr
        %th Estado
        %td= @referred_doctor.address_state
      %tr
        %th País
        %td= @referred_doctor.address_colony

