= render "shared/section" do
  .flex.flex-col.md:flex-row.md:space-x-4
    = link_to :referred_doctors do
      %i.fa.fa-arrow-left
    = link_to [:edit, @referred_doctor] do
      %i.fa.fa-edit.text-yellow-600

= render "shared/section" do
  = render "shared/title", title: "Información"
  .grid.gap-4.grid-rows-3.grid-flow-row.md:grid-flow-col.text-xs
    - @referred_doctor.attributes.slice("full_name", "specialty", "phone_number").map do |key, value|
      - if value.present?
        %dl.overflow-x-auto
          %dt.text-gray-400.my-2= t("activerecord.attributes.referred_doctor.#{key}")
          %dd.text-base.font-semibold= raw value

- if @referred_doctor.address
  = render "shared/section" do
    = render "patients/address", address: @referred_doctor.address
