-# frozen_string_literal: true
= simple_form_for(@medical_consultation) do |f|
  .columns.is-multiline
    .column.is-4
      %label.label{ for: "medical_consultation_patient_id" } Paciente
      = f.select :patient_id, options_for_select(patients_for_select, selected: params[:patient_id]), { prompt: "Seleccione un paciente" }, class: "select2"
      - if f.object.errors[:patient_id].any?
        .help.is-danger= f.object.errors[:patient_id].to_sentence
    .column.is-4
      = f.input :reason
    .column.is-4
      = f.input :subjetive
    .column.is-4
      = f.input :objetive
    .column.is-4
      = f.input :plan
    .column.is-4
      = f.input :diagnosis
    .column.is-4
      = f.input :treatment
    .column.is-4
      = f.input :observations
    .column.is-4
      .columns.is-multiline
        .column
          = f.input :height
        .column
          = f.input :weight
        .column
          = f.input :imc, readonly: true
          %p#imc_text.help
  .columns
    .column
      = f.input :prescription, input_html: { class: "textarea" }

  .columns
    .column
      = f.input :lab_results
    .column
      = f.input :histopathology
    .column
      = f.input :comments

  .buttons
    = link_to :back, class: "button is-link" do
      %span.icon
        %i.fa.fa-arrow-left
      %span Regresar
    = f.button :submit
