.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-book
      %span.is-uppercase Consultas
    = link_to new_medical_consultation_path, class: "button is-small is-link" do
      %span.icon
        %i.fa.fa-plus
      %span Registrar Consulta
  .card-content
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead.is-uppercase
          %tr
            %th Fecha
            %th Paciente
            %th Doctor
            %th Acciones

        %tbody
          - @medical_consultations.each do |medical_consultation|
            %tr
              %td= l medical_consultation.created_at, format: :list
              %td= medical_consultation.patient
              %td= medical_consultation.doctor
              %td
                .buttons
                  = link_to medical_consultation_path(medical_consultation), class: "button is-small is-info" do
                    %span.icon
                      %i.fa.fa-eye
                    %span Detalles
                  = link_to edit_medical_consultation_path(medical_consultation), class: "button is-small is-warning" do
                    %span.icon
                      %i.fa.fa-edit
                    %span Editar
