%nav.level
  .level-left
    .level-item
      %span.icon
        %i.fa.fa-user-md
      %span.is-uppercase información de la consulta
  .level-right
    .level-item
      .buttons
        = link_to :back, class: "button is-link" do
          %span.icon
            %i.fa.fa-arrow-left
          %span Regresar

        = link_to [:edit, @medical_consultation, patient_id: @medical_consultation.patient], "data-tooltip": "Editar", class: "button is-warning tooltip" do
          %span.icon
            %i.fa.fa-edit

        = link_to [@medical_consultation, format: "pdf"], "data-tooltip": "Imprimir", class: "button is-danger tooltip", target: "_blank" do
          %span.icon
            %i.fa.fa-print

        = link_to @medical_consultation.patient, target: "_blank", "data-tooltip": "Detalle de #{@medical_consultation.patient}", class: "button is-success tooltip is-tooltip-left", style: "margin-left: auto" do
          %span.icon
            %i.fa.fa-user

.columns.is-multiline
  .column.is-9
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead
          %tr
            %th= t("activerecord.attributes.medical_consultation.patient")
            %td= @medical_consultation.patient
          %tr
            %th= t("activerecord.attributes.medical_consultation.objetive")
            %td= @medical_consultation.objetive
          %tr
            %th= t("activerecord.attributes.medical_consultation.diagnosis")
            %td= @medical_consultation.diagnosis
          %tr
            %th= t("activerecord.attributes.medical_consultation.reason")
            %td= @medical_consultation.reason
          %tr
            %th= t("activerecord.attributes.medical_consultation.observations")
            %td= @medical_consultation.observations
          %tr
            %th= t("activerecord.attributes.medical_consultation.treatment")
            %td= @medical_consultation.treatment
          %tr
            %th= t("activerecord.attributes.medical_consultation.subjetive")
            %td= @medical_consultation.subjetive
          %tr
            %th= t("activerecord.attributes.medical_consultation.plan")
            %td= @medical_consultation.plan
          %tr
            %th= t("activerecord.attributes.medical_consultation.prescription")
            %td= @medical_consultation.prescription
          %tr
            %th= t("activerecord.attributes.medical_consultation.recommendation")
            %td= @medical_consultation.recommendation
          %tr
            %th= t("activerecord.attributes.medical_consultation.created_at")
            %td= l @medical_consultation.created_at, format: :long
          %tr
            %th= t("activerecord.attributes.medical_consultation.lab_results")
            %td= @medical_consultation.lab_results
          %tr
            %th= t("activerecord.attributes.medical_consultation.histopathology")
            %td= @medical_consultation.histopathology
          %tr
            %th= t("activerecord.attributes.medical_consultation.endoscopias")
            %td= @medical_consultation.comments

  .column.is-3
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead
          %tr
            %th= t("activerecord.attributes.medical_consultation.height")
            %td= "#{@medical_consultation.height} cm."
          %tr
            %th= t("activerecord.attributes.medical_consultation.weight")
            %td= "#{@medical_consultation.weight} kg."
          %tr
            %th= t("activerecord.attributes.medical_consultation.imc")
            %td= number_with_precision(@medical_consultation.imc, precision: 2)
          %tr
            %th= t("activerecord.attributes.medical_consultation.blood_pressure")
            %td= @medical_consultation.blood_pressure
          %tr
            %th= t("activerecord.attributes.medical_consultation.heart_rate")
            %td= number_with_precision(@medical_consultation.heart_rate, precision: 2)
          %tr
            %th= t("activerecord.attributes.medical_consultation.breathing_rate")
            %td= number_with_precision(@medical_consultation.breathing_rate, precision: 2)
          %tr
            %th= t("activerecord.attributes.medical_consultation.temperature")
            %td= temperature @medical_consultation
          %tr
            %th= t("activerecord.attributes.medical_consultation.glycaemia")
            %td= @medical_consultation.glycaemia
          %tr
            %th= t("activerecord.attributes.medical_consultation.sat_02")
            %td= @medical_consultation.sat_02
          %tr
            %th= t("activerecord.attributes.medical_consultation.cost")
            %td= number_to_currency @medical_consultation.cost

