.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-user-md
      %span.is-uppercase información de la consulta
  .card-content
    .columns
      .column.is-6
        %p.has-text-grey-light.is-uppercase Datos generales
        .table-container
          %table.table.is-hoverable.is-fullwidth
            %tr
              %thead
                %tr
                  %th Doctor
                  %td= @medical_consultation.doctor
                %tr
                  %th Paciente
                  %td= link_to @medical_consultation.patient, patient_path(@medical_consultation.patient), target: "_blank"
                %tr
                  %th Motivo de Consulta
                  %td= @medical_consultation.reason
                %tr
                  %th Subjetivo
                  %td= @medical_consultation.subjetive
                %tr
                  %th Objetivo
                  %td= @medical_consultation.objetive
                %tr
                  %th Receta
                  %td= @medical_consultation.prescription
      .column.is-6
        %p.has-text-grey-light.is-uppercase .
        .table-container
          %table.table.is-hoverable.is-fullwidth
            %tr
              %thead
                %tr
                  %th Plan
                  %td= @medical_consultation.plan
                %tr
                  %th Diagnostico
                  %td= @medical_consultation.diagnosis
                %tr
                  %th Tratamiento
                  %td= @medical_consultation.treatment
                %tr
                  %th Observación
                  %td= @medical_consultation.observations
                %tr
                  %th Fecha de registro
                  %td= l @medical_consultation.created_at, format: :long
    .columns
      .column
        %p.has-text-grey-light.is-uppercase Resultado de Laboratorio
        .table-container
          %table.table.is-hoverable.is-fullwidth
            %tr
              %thead
                %tr
                  %th Resultados de Laboratorio
                  %td= @medical_consultation.lab_results
                %tr
                  %th Histopatologia
                  %td= @medical_consultation.histopathology
                %tr
                  %th Comentarios
                  %td= @medical_consultation.comments

    .buttons
      = link_to :back, class: "button is-link" do
        %span.icon
          %i.fa.fa-arrow-left
        %span Regresar

      = link_to @medical_consultation.patient, class: "button is-success" do
        %span.icon
          %i.fa.fa-user
        %span Ir al Detalle del Paciente

      = link_to [:edit, @medical_consultation], class: "button is-warning" do
        %span.icon
          %i.fa.fa-edit
        %span Editar
