<div class="box">
  <h2 class="title">Cambiar contrase単a</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <%= f.input :password,
                label: false,
                required: true,
                autofocus: true,
                placeholder: "Ingrese su nueva contrase単a",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "is-large" } %>
    <%= f.input :password_confirmation,
                label: false,
                required: true,
                placeholder: "Confirme su nueva contrase単a",
                input_html: { class: "is-large" } %>

    <%= f.button :submit, "Cambiar mi contrase単a", class: "button is-block is-large is-fullwidth" %>
  <% end %>
</div>

<div class="columns is-multiline">
  <%= render "devise/shared/links" %>
</div>
