<div class="box">
  <h2 class="title">Recuperar Contraseña</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Ingrese su correo electrónico",
                input_html: { autocomplete: "email", class: "is-large" } %>

    <%= f.button :submit, "Recuperar", class: "button is-block is-large is-fullwidth" %>
  <% end %>
</div>

<div class="columns is-multiline">
  <%= render "devise/shared/links" %>
</div>
