-# frozen_string_literal: true

= simple_form_for(hospitalization) do |f|
  = render 'shared/title', title: title

  .grid.gap-2.grid-cols-1.md:grid-cols-3
    = f.association :patient, collection: patients_for_select, prompt: true
    = f.input :status, collection: statuses_for_select, prompt: true
    = f.association :referred_doctor, collection: referred_doctor_for_select, prompt: true
    = f.input :starting, as: :date, prompt: true
    = f.input :ending, as: :date, prompt: true
    = f.input :days_of_stay

  = f.input :input_diagnosis, as: :trix_editor
  = f.input :output_diagnosis, as: :trix_editor
  = f.input :reason_for_hospitalization, as: :trix_editor
  = f.input :treatment, as: :trix_editor
  = f.input :recommendations, as: :trix_editor

  = f.button :submit
