-# frozen_string_literal: true

= simple_form_for(@hospitalization) do |f|
  %p Datos de Hospitalización

  = f.input :patient_id, collection: patients_for_select, prompt: true
  = f.input :status, collection: statuses_for_select, prompt: true
  = f.input :referred_doctor_id, collection: referred_doctor_for_select, prompt: true
  = f.input :starting, as: :date, prompt: true
  = f.input :ending, as: :date, prompt: true
  = f.input :days_of_stay
  = f.input :input_diagnosis, as: :trix_editor
  = f.input :output_diagnosis, as: :trix_editor
  = f.input :reason_for_hospitalization, as: :trix_editor
  = f.input :treatment, as: :trix_editor
  = f.input :recommendations, as: :trix_editor

  = f.button :submit
