-# frozen_string_literal: true

= simple_form_for(hospitalization) do |f|
  = render 'shared/title', title: title

  .grid.gap-2.grid-cols-1.md:grid-cols-3
    .mb-4
      = f.label :patient, class: label_classes
      = f.combobox :patient_id, patients_for_select, default: params[:patient_id]
      = combobox_error(f.object, :patient)

    .mb-4
      = f.label :referred_doctor, class: label_classes
      = f.combobox :referred_doctor_id, referred_doctors_for_select
      = combobox_error(f.object, :referred_doctor)

    = f.input :status, collection: statuses_for_select, prompt: true
    = f.input :starting, as: :date, html5: true
    = f.input :ending, as: :date, html5: true
    = f.input :days_of_stay

  = f.input :input_diagnosis, as: :trix_editor
  = f.input :output_diagnosis, as: :trix_editor
  = f.input :reason_for_hospitalization, as: :trix_editor
  = f.input :treatment, as: :trix_editor
  = f.input :recommendations, as: :trix_editor

  = f.button :submit
