%tr
  %td= l hospitalization.created_at, format: :not_hour
  %td= hospitalization.starting
  %td= hospitalization.ending
  %td= hospitalization.days_of_stay
  %td
    .buttons.is-right
      = link_to hospitalization, "data-tooltip": "Detalles", class: "button is-link tooltip" do
        %i.fa.fa-eye
