= render 'shared/section' do
  .flex.flex-row
    = link_to :hospitalizations, class: secondary_button do
      %span.fa.fa-arrow-left
      = t('.back')

= render 'shared/section' do
  = render 'form', hospitalization: @hospitalization, title: t("helpers.submit.hospitalization.update")
