= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    = render "shared/actions", model: :hospitalization, search_path: hospitalizations_path

= render "shared/section" do
  = render "shared/table" do
    %thead.border-b.border-gray-200.dark:border-gray-700.font-medium
      %tr
        %th{scope: :col, class: "px-6 py-2"} Paciente
        %th{scope: :col, class: "px-6 py-2"} Dias de estadia
        %th{scope: :col, class: "px-6 py-2"} Acciones
    %tbody
      - @hospitalizations.each do |hospitalization|
        %tr.border-b.border-gray-200.dark:border-gray-700
          %td.whitespace-nowrap.px-6.py-4= hospitalization.patient
          %td.whitespace-nowrap.px-6.py-4= hospitalization.days_of_stay
          %td
            = link_to :print, [hospitalization, format: :pdf], target: "_blank"
            = link_to :editar, [:edit, hospitalization]
            = link_to :detalles, hospitalization
