= render ActionsBarComponent.new(subject: :hospitalization)

.table-container
  %table.table.is-hoverable.is-fullwidth
    %thead.is-uppercase
      %tr
        %th Fecha
        %th Paciente
        %th Inicio
        %th Final
        %th Dias de estadia
        %th.has-text-right Acciones
    %tbody
      - @hospitalizations.each do |hospitalization|
        %tr
          %td= l hospitalization.created_at, format: :not_hour
          %td= hospitalization.patient
          %td= hospitalization.starting
          %td= hospitalization.ending
          %td= hospitalization.days_of_stay
          %td
            .buttons.is-right
              = link_to hospitalization, "data-tooltip": "Eliminar", class: "button is-danger tooltip", data: {method: :delete, confirm: '¿Estás seguro de eliminar esta hospitalización?'} do
                %span.icon
                  %i.fa.fa-trash
              = link_to [hospitalization, format: :pdf], "data-tooltip": "Imprimir", class: "button is-success tooltip", target: "_blank" do
                %span.icon
                  %i.fa.fa-print
              = link_to [:edit, hospitalization], "data-tooltip": "Editar", class: "button is-warning tooltip" do
                %span.icon
                  %i.fa.fa-edit
              = link_to hospitalization, "data-tooltip": "Detalles", class: "button is-link tooltip" do
                %span.icon
                  %i.fa.fa-eye
    %tfoot
      %tr
        %th{ colspan: 6 }
          = paginate @hospitalizations
          %br
          .has-text-right
            = page_entries_info @hospitalizations, entry_name: "hospitalizaciones"
