= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    = link_to "Regresar", :hospitalizations
    %div.flex.flex-col.md:flex-row.md:space-x-4
      = link_to "Editar", [:edit, @hospitalization, patient_id: @hospitalization.patient]
      = link_to "PDF", [@hospitalization, format: :pdf]
      = link_to "Ver paciente #{@hospitalization.patient}", @hospitalization.patient, target: "_blank"

= render "shared/section" do
  %h3.mb-4.text-xl.font-bold.text-gray-900.dark:text-white Información
  .grid.gap-4.grid-rows-2.grid-flow-row.md:grid-flow-col.text-xs
    %dl.overflow-x-auto
      %dt= t("activerecord.attributes.hospitalization.patient")
      %dd.text-base.font-semibold= @hospitalization.patient
    %dl.overflow-x-auto
      %dt= t("activerecord.attributes.hospitalization.referred_doctor")
      %dd.text-base.font-semibold= @hospitalization.referred_doctor
    - @hospitalization.attributes.slice("status", "starting", "ending", "days_of_stay").map do |key, value|
      - if value.present?
        %dl.overflow-x-auto
          %dt= t("activerecord.attributes.hospitalization.#{key}")
          %dd.text-base.font-semibold= raw value

= render "shared/section" do
  %h3.mb-4.text-xl.font-bold.text-gray-900.dark:text-white Diagnóstico
  .grid.gap-4.grid-rows-3.grid-flow-row.md:grid-flow-col.text-xs
    - @hospitalization.attributes.slice("input_diagnosis", "output_diagnosis", "reason_for_hospitalization", "treatment", "cabinet_results", "histopathology", "recommendations").map do |key, value|
      - if value.present?
        %dl.overflow-x-auto
          %dt= t("activerecord.attributes.hospitalization.#{key}")
          %dd.text-base.font-semibold= raw value
