%nav.level
  .level-left
    .level-item
      %span.icon
        %i.fa.fa-ambulance
      %span.is-uppercase Información de la hospitalización

.columns
  .column.is-6
    %p.has-text-grey-light.is-uppercase Datos generales
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %tr
          %thead
            %tr
              %th Doctor
              %td= @hospitalization.doctor
            %tr
              %th Paciente
              %td= @hospitalization.patient
            %tr
              %th Inicio
              %td= @hospitalization.starting
            %tr
              %th Final
              %td= @hospitalization.ending

  .column.is-6
    %p.has-text-grey-light.is-uppercase .
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %tr
          %thead
            %tr
              %th Días de estancia
              %td= @hospitalization.days_of_stay
            %tr
              %th Razón de hospitalización
              %td= @hospitalization.reason_for_hospitalization
            %tr
              %th Tratamiento
              %td= @hospitalization.treatment
            %tr
              %th Fecha de registro
              %td= l @hospitalization.created_at, format: :long

.buttons
  = link_to :back, class: "button is-link" do
    %span.icon
      %i.fa.fa-arrow-left
    %span Regresar

  = link_to [:edit, @hospitalization, patient_id: @hospitalization.patient], "data-tooltip": "Editar", class: "button is-warning tooltip" do
    %span.icon
      %i.fa.fa-edit

  = link_to [@hospitalization, format: :pdf], "data-tooltip": "Imprimir", class: "button is-danger tooltip", target: "_blank" do
    %span.icon
      %i.fa.fa-print

  = link_to @hospitalization.patient, "data-tooltip": "Detalle de #{@hospitalization.patient}", class: "button is-success tooltip is-tooltip-left", style: "margin-left: auto" do
    %span.icon
      %i.fa.fa-user
