= render "shared/title", title: t('tooltips.defaults.appoinments')

%section.space-y-2
  - appoinments.each do |appoinment|
    %details.cursor-pointer.border.border-gray-300.dark:border-gray-700.p-4.rounded.hover:bg-gray-200.dark:hover:bg-gray-700{ name: :appoinment }
      %summary.text-sm.font-medium
        = appoinment.reason
        .font-light.text-right= appoinment.created_at.to_date
      - appoinment.attributes.slice('note', 'prescription', 'recommendations').map do |key, value|
        - if value.present?
          .text-gray-400.my-2= t("activerecord.attributes.appoinment.#{key}")
          .text-base= raw value
      .text-base.pt-4
        = link_to appoinment_path(appoinment), class: 'text-blue-600 dark:text-blue-500 hover:underline', target: :_blank do
          = t('.see_more')
