.columns.is-multiline
  .column.is-4
    %strong= t("activerecord.attributes.patient.allergies")
    %p= @patient.allergies
  .column.is-4
    %strong= t("activerecord.attributes.patient.pathological_background")
    %p= @patient.pathological_background
  .column.is-4
    %strong= t("activerecord.attributes.patient.non_pathological_background")
    %p= @patient.non_pathological_background
  .column.is-4
    %strong= t("activerecord.attributes.patient.gyneco_obstetric_background")
    %p= @patient.gyneco_obstetric_background
  .column.is-4
    %strong= t("activerecord.attributes.patient.system_background")
    %p= @patient.system_background
  .column.is-4
    %strong= t("activerecord.attributes.patient.family_inheritance_background")
    %p= @patient.family_inheritance_background
  .column.is-4
    %strong= t("activerecord.attributes.patient.physic_exploration")
    %p= @patient.physic_exploration
  .column.is-4
    %strong= t("activerecord.attributes.patient.other_background")
    %p= @patient.other_background

