-# frozen_string_literal: true
= simple_form_for(@patient) do |f|
  %p.has-text-grey-light.is-uppercase Datos generales
  = render "patient_fields", f: f

  %p.has-text-grey-light.is-uppercase Domicilio
  = render "addresses/address_fields", f: f

  %p.has-text-grey-light.is-uppercase Historial Clinico
  = render "clinic_histories/clinic_history_fields", f: f

  .buttons
    = link_to :back, class: "button is-link" do
      %span.icon
        %i.fa.fa-arrow-left
      %span Regresar
    = f.button :submit
