-# frozen_string_literal: true

= simple_form_for(patient) do |f|
  = render 'shared/title', title: title

  .grid.gap-2.grid-cols-1.md:grid-cols-4
    = f.input :occupation
    = f.input :name
    = f.input :first_name
    = f.input :last_name
    = f.input :birthday, as: :date, html5: true
    = f.input :place_of_birth
    = f.input :height, hint: t('simple_form.hint.defaults.height')
    = f.input :weight, hint: t('simple_form.hint.defaults.weight')
    = f.input :blood_group, collection: blood_groups_for_select, prompt: true
    = f.input :sex, collection: sexos_for_select, prompt: true
    = f.input :cellphone
    = f.input :marital_status
    = f.input :avatar
    = f.input :referred_by
    = f.input :comments, input_html: resize_field_controller

  = render 'shared/title', title: t('.medical_history')

  .grid.gap-2.grid-cols-1.md:grid-cols-2
    = f.input :allergies, input_html: resize_field_controller
    = f.input :pathological_background, input_html: resize_field_controller
    = f.input :non_pathological_background, input_html: resize_field_controller
    = f.input :gyneco_obstetric_background, input_html: resize_field_controller
    = f.input :system_background, input_html: resize_field_controller
    = f.input :family_inheritance_background, input_html: resize_field_controller
    = f.input :physic_exploration, input_html: resize_field_controller
    = f.input :other_background, input_html: resize_field_controller

  = render 'addresses/address_fields', f: f

  = f.button :submit
