= render 'shared/title', title: t('.title')

.grid.gap-4.grid-rows-4.grid-flow-row.md:grid-flow-col
  - patient.attributes.slice('occupation', 'name', 'first_name', 'last_name', 'birthday', 'height', 'weight', 'blood_group', 'place_of_birth', 'marital_status', 'sex', 'referred_by', 'comments').map do |key, value|
    - if value.present?
      %dl
        %dt.text-sm.text-gray-400.my-2= t("activerecord.attributes.user.#{key}")
        - if key.eql?('birthday')
          %dd= age_months patient
        - elsif key.eql?('height')
          %dd= height_for_human patient
        - elsif key.eql?('weight')
          %dd= weight_for_human patient
        - else
          %dd= value
