%tr
  %td= patient
  %td= l patient.created_at, format: :day_month_year
  %td= l patient.updated_at, format: :day_month_year
  %td
    .buttons.is-right
      = link_to [:new, :hospitalization, patient_id: patient.id], "data-tooltip": "Nueva hospitalización", class: "button is-default tooltip" do
        %span.icon
          %i.fa.fa-ambulance

      = link_to [:new, :medical_consultation, patient_id: patient.id], "data-tooltip": "Nueva consulta", class: "button is-default tooltip" do
        %span.icon
          %i.fa.fa-book

      = link_to patient, "data-tooltip": "Detalles", class: "button is-link tooltip" do
        %span.icon
          %i.fa.fa-eye
