.columns.is-multiline
  .column.is-4
    = f.input :name
  .column.is-4
    = f.input :first_name
  .column.is-4
    = f.input :last_name
  .column.is-4
    .field
      %label.label Fecha de Nacimiento
      .control
        = date_field("patient", "birthday", class: "input", lang: "es")
  .column.is-4
    = f.input :height, placeholder: "Altura en centimetros"
  .column.is-4
    = f.input :weight, placeholder: "Peso en metros"
  .column.is-4
    %label.label Grupo sanguíneo
    = f.input :blood_group, collection: blood_group_for_select, input_html: { css: "is-fullwidth" }, wrapper: :select_form
  .column.is-4
    = f.input :occupation
  .column.is-4
    = f.input :referred_by
