= render 'shared/section' do
  .flex.flex-row
    = link_to :back, class: secondary_button do
      %span.fa.fa-arrow-left
      = t('.back')

= render 'shared/section' do
  = render 'form', patient: @patient, title: t('helpers.submit.patient.update')
