.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-ambulance
      %span.is-uppercase Hospitalizaciónes de #{@patient}
    .card-header-icon
      = link_to new_hospitalization_path(patient_id: @patient.id), class: "button is-link" do
        %span.icon
          %i.fa.fa-plus
        %span Registrar Hospitalización
  .card-content
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead.is-uppercase
          %tr
            %th Fecha
            %th Inicio
            %th Final
            %th Dias de estadia
            %th.has-text-right Acciones

        %tfoot
          %tr
            %th{ colspan: 5 }
              = paginate @hospitalizations
              %br
              .has-text-right
                = page_entries_info @hospitalizations, entry_name: "hospitalizaciones"

        %tbody
          - @hospitalizations.each do |hospitalization|
            %tr
              %td= l hospitalization.created_at, format: :not_hour
              %td= hospitalization.starting
              %td= hospitalization.ending
              %td= hospitalization.days_of_stay
              %td
                .buttons.is-right
                  = link_to hospitalization, class: "button is-link" do
                    %span.icon
                      %i.fa.fa-eye
                    %span Detalles
                  = link_to [:edit, hospitalization], class: "button is-warning" do
                    %span.icon
                      %i.fa.fa-edit
                    %span Editar

    = link_to :back, class: "button is-link" do
      %span.icon
        %i.fa.fa-arrow-left
      %span Regresar
