= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    =render "shared/actions", model: :patient, search_path: patients_path

= render "shared/section" do
  = render "shared/table" do
    %thead.border-b.border-gray-300.dark:border-gray-700.text-gray-400
      %tr
        %th.py-2{scope: :col} Nombre
        %th.py-2{scope: :col} Registrado
        %th.py-2{scope: :col} Actualizado
        %th.py-2{scope: :col} Acciones
    %tbody
      - @patients.each do |patient|
        %tr.cursor-pointer.hover:bg-gray-200.dark:hover:bg-gray-700
          %td.whitespace-nowrap.px-2.py-4= patient
          %td.whitespace-nowrap.px-2.py-4= time_ago_in_words(patient.created_at)
          %td.whitespace-nowrap.px-2.py-4= time_ago_in_words(patient.updated_at)
          %td
            = link_to :print, [patient, format: :pdf], target: :_blank
            = link_to :hospitalizacion, [:new, :hospitalization, patient_id: patient.id]
            = link_to :consulta, [:new, :appoinment, patient_id: patient.id]
            = link_to :detalles, patient
