.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-users
      %span.is-uppercase Pacientes
    = link_to [:new, :patient], class: "button is-link" do
      %span.icon
        %i.fa.fa-plus
      %span Registrar Paciente
  .card-content
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead.is-uppercase
          %tr
            %th Nombre
            %th Edad
            %th Fecha de Registro
            %th Acciones

        %tfoot
          %tr
            %th{ colspan: 4 }
              = paginate @patients
              %br
              .has-text-right= page_entries_info @patients, entry_name: "pacientes"

        %tbody
          - @patients.each do |patient|
            %tr
              %td= patient
              %td= age patient
              %td= l patient.created_at, format: :day_month_year
              %td
                .buttons
                  = link_to [:medical_consultations, patient], class: "button is-default" do
                    %span.icon
                      %i.fa.fa-book
                    %span Mis Consultas
                  = link_to [:hospitalizations, patient], class: "button is-default" do
                    %span.icon
                      %i.fa.fa-ambulance
                    %span Mis Hospitalizaciónes
                  = link_to patient, class: "button is-link" do
                    %span.icon
                      %i.fa.fa-eye
                    %span Detalles
                  = link_to [:edit, patient], class: "button is-warning" do
                    %span.icon
                      %i.fa.fa-edit
                    %span Editar
