= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    =render "shared/actions", model: :patient, search_path: patients_path

= render "shared/section" do
  = render "shared/table" do
    %thead.border-b.border-gray-300.dark:border-gray-700.text-gray-400
      %tr
        %th.py-2{scope: :col} Nombre
        %th.py-2{scope: :col} Registrado
        %th.py-2{scope: :col} Acciones
    %tbody
      - @patients.each do |patient|
        %tr.cursor-pointer.hover:bg-gray-200.dark:hover:bg-gray-700.space-y-4
          %td.whitespace-nowrap= patient
          %td.whitespace-nowrap= time_ago_in_words(patient.created_at)
          %td.flex.flex-row.justify-around
            = link_to [:new, :appoinment, patient_id: patient.id] do
              %span.fa.fa-book
            = link_to [:new, :hospitalization, patient_id: patient.id] do
              %span.fa.fa-ambulance
            = link_to patient do
              %span.fa.fa-eye
