%nav.level
  .level-left
    .level-item
      = render SearchFormComponent.new(search_path: patients_path, placeholder: "Pacientes")
  .level-right
    .level-item
      = link_to [:new, :patient], class: "button is-link" do
        %span.icon
          %i.fa.fa-plus
        %span Registrar Paciente
.table-container
  %table.table.is-hoverable.is-fullwidth
    %thead.is-uppercase
      %tr
        %th Nombre
        %th Registrado
        %th Actualizado
        %th.has-text-right Acciones
    %tbody
      = render @patients
    %tfoot
      %tr
        %th{ colspan: 4 }
          = paginate @patients, params: { query: params[:query] }
          %br
          .has-text-right
            = page_entries_info @patients, entry_name: "pacientes"
