.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-book
      %span.is-uppercase Consultas de #{@patient}
    .card-header-icon
      = link_to new_medical_consultation_path(patient_id: @patient.id), class: "button is-link" do
        %span.icon
          %i.fa.fa-plus
        %span Registrar Consulta
  .card-content
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead.is-uppercase
          %tr
            %th Fecha
            %th Motivo
            %th Receta
            %th.has-text-right Acciones

        %tfoot
          %tr
            %th{ colspan: 5 }
              = paginate @medical_consultations
              %br
              .has-text-right
                = page_entries_info @medical_consultations, entry_name: "consultas medicas"

        %tbody
          - @medical_consultations.each do |medical_consultation|
            %tr
              %td= l medical_consultation.created_at, format: :not_hour
              %td= truncate(medical_consultation.reason, lenght: 50)
              %td= truncate(medical_consultation.prescription, lenght: 50)
              %td
                .buttons.is-right
                  = link_to medical_consultation, class: "button is-link" do
                    %span.icon
                      %i.fa.fa-eye
                    %span Detalles
                  = link_to [:edit, medical_consultation], class: "button is-warning" do
                    %span.icon
                      %i.fa.fa-edit
                    %span Editar

    = link_to patients_path, class: "button is-link" do
      %span.icon
        %i.fa.fa-arrow-left
      %span Regresar
