%nav.level
  .level-left
    .level-item
      %span.icon
        %i.fa.fa-users
      %span.is-uppercase Información del paciente #{ @patient }
  .level-right
    .level-item
      .buttons
        = link_to :back, class: "button is-link" do
          %span.icon
            %i.fa.fa-arrow-left
          %span Regresar
        = link_to [:edit, @patient], id: "edit_patient_path", class: "button is-warning" do
          %span.icon
            %i.fa.fa-edit
          %span Editar

        = link_to new_appoinment_path(patient_id: @patient.id), id: "new_appoinment_path", class: "button is-default" do
          %span.icon
            %i.fa.fa-book
          %span Nueva Consulta
        = link_to new_hospitalization_path(patient_id: @patient.id), id: "new_hospitalization_path", class: "button is-default" do
          %span.icon
            %i.fa.fa-ambulance
          %span Nueva Hospitalización

#tabs.tabs.is-boxed
  %ul
    %li.is-active{ "data-tab": "general" }
      %a
        %span.icon.is-small
          %i.fa.fa-info
        %span Datos Generales
    %li{ "data-tab": "address" }
      %a
        %span.icon.is-small
          %i.fa.fa-map-marker
        %span Domicilio
    %li{ "data-tab": "clinic_history" }
      %a
        %span.icon.is-small
          %i.fa.fa-history
        %span Historial Clinico
    %li{ "data-tab": "appoinments" }
      %a
        %span.icon.is-small
          %i.fa.fa-book
        %span#appoinments
          Consultas Medicas
    %li{ "data-tab": "hospitalizations" }
      %a
        %span.icon.is-small
          %i.fa.fa-ambulance
        %span#my_hospitalizations
          Hospitalizaciónes

#tabs-content
  %span.is-active{ "data-content": "general" }
    = render "patients/general"
  %span{ "data-content": "address" }
    = render "patients/address"
  %span{ "data-content": "clinic_history" }
    = render "patients/clinic_history"
  %span{ "data-content": "appoinments" }
    = render "patients/appoinments"
  %span{ "data-content": "hospitalizations" }
    = render "patients/hospitalizations"
