= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    = link_to "Regresar", :patients
    %div.flex.flex-col.md:flex-row.md:space-x-4
      = link_to "Nueva Consulta", new_appoinment_path(patient_id: @patient.id)
      = link_to "Nueva Hospitalización", new_hospitalization_path(patient_id: @patient.id)
      = link_to "Editar", [:edit, @patient]

= render "shared/section" do
  = render "patients/general", patient: @patient
= render "shared/section" do
  = render "patients/clinic_history", patient: @patient
= render "shared/section" do
  = render "patients/address", patient: @patient
