= render "shared/section" do
  .flex.flex-col.md:flex-row.md:space-x-4
    = link_to :patients do
      %i.fa.fa-arrow-left
    = link_to edit_patient_path(@patient), 'data-tooltip': 'Editar', class: 'tooltip tooltip-top' do
      %i.fa.fa-edit.text-yellow-600
    = link_to new_appoinment_path(patient_id: @patient.id), 'data-tooltip': 'Nueva Consulta', class: 'tooltip tooltip-top' do
      %i.fa.fa-book
    = link_to new_hospitalization_path(patient_id: @patient.id), 'data-tooltip': 'Nueva Hospitalización', class: 'tooltip tooltip-top' do
      %i.fa.fa-ambulance

= render "shared/section" do
  = render "patients/general", patient: @patient
= render "shared/section" do
  = render "patients/clinic_history", patient: @patient
= render "shared/section" do
  = render "patients/address", address: @patient.address
