-# frozen_string_literal: true
= simple_form_for(@hospital) do |f|
  %p.has-text-grey-light.is-uppercase Datos generales
  .columns.is-multiline
    .column.is-3
      = f.input :name
    .column.is-3
      = f.input :maps
    .column.is-3
      = f.input :facebook
    .column.is-3
      = f.input :twitter
    .column.is-3
      = f.input :linkedin
    .column.is-3
      = f.input :description
    .column.is-3
      = f.input :schedule
    .column.is-3
      = f.input :tags, input_html: { type: "tags", placeholder: "Ingrese sus servicios" }
    .column.is-12
      = f.input :about, as: :trix_editor

  %p.has-text-grey-light.is-uppercase Domicilio
  = render "addresses/address_fields", f: f

  .buttons
    = link_to :back, class: "button is-link" do
      %span.icon
        %i.fa.fa-arrow-left
      %span Regresar
    = f.button :submit
