-# frozen_string_literal: true

= simple_form_for(@hospital) do |f|
  = render 'shared/title', title: title

  .grid.gap-2.grid-cols-1.md:grid-cols-2
    = f.input :name
    = f.input :maps
    = f.input :facebook
    = f.input :twitter
    = f.input :linkedin
    = f.input :description
    = f.input :tags
    = f.input :schedule, input_html: resize_field_controller

  = f.input :about, as: :trix_editor

  = render 'addresses/address_fields', f: f

  = f.button :submit
