= f.simple_fields_for(:clinic_history) do |ch|
  .columns.is-multiline
    .column.is-3
      = ch.input :description_traumatic, placeholder: "Motivo de Alergia"
    .column.is-3
      = ch.input :description_hypertension, placeholder: "Motivo de Hipertensión"
    .column.is-3
      = ch.input :description_allergic, placeholder: "Motivo de Alergia"
    .column.is-3
      = ch.input :description_transfusion, placeholder: "Motivo de Transfusión"
    .column.is-3
      = ch.input :description_hereditary
    .column.is-3
      = ch.input :description_surgical, placeholder: "Motivo Quirúrgico"
    .column.is-3
      = ch.input :description_drug_addiction, placeholder: "Motivo Toxicomanías"
    .column.is-3
      = ch.input :description_diabetes
    .column.is-3
      = ch.input :description_cancer
    .column.is-3
      = ch.input :description_other, placeholder: "Otros Motivos"
