.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-user-md
      %span.is-uppercase Doctores
    = link_to new_doctor_path, class: "button is-link" do
      %span.icon
        %i.fa.fa-plus
      %span Registrar Doctor
  .card-content
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead.is-uppercase
          %tr
            %th Especialidad
            %th Nombre
            %th Acciones

        %tbody
          - @doctores.each do |doctor|
            %tr
              %td= doctor
              %td= doctor.specialty
              %td
                .buttons
                  = link_to doctor_path(doctor), class: "button is-info" do
                    %span.icon
                      %i.fa.fa-eye
                    %span Detalles
                  = link_to edit_doctor_path(doctor), class: "button is-warning" do
                    %span.icon
                      %i.fa.fa-edit
                    %span Editar
