.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-user-md
      %span.is-uppercase Doctores
    .card-header-icon
      = link_to [:new, :doctor], class: "button is-link" do
        %span.icon
          %i.fa.fa-plus
        %span Registrar Doctor
  .card-content
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead.is-uppercase
          %tr
            %th Especialidad
            %th Nombre
            %th Fecha de registro
            %th.has-text-right Acciones

        %tfoot
          %tr
            %th{ colspan: 4 }
              = paginate @doctores
              %br
              .has-text-right
                = page_entries_info @doctores, entry_name: "doctores"

        %tbody
          - @doctores.each do |doctor|
            %tr
              %td= doctor.specialty
              %td= doctor
              %td= l doctor.created_at, format: :not_hour
              %td
                .buttons.is-right
                  = link_to doctor, class: "button is-link" do
                    %span.icon
                      %i.fa.fa-eye
                    %span Detalles
                  = link_to [:edit, doctor], class: "button is-warning" do
                    %span.icon
                      %i.fa.fa-edit
                    %span Editar
