%nav.level
  .level-left
    .level-item
      %span.icon
        %i.fa.fa-user-md
      %span.is-uppercase información del doctor

.table-container
  %table.table.is-hoverable.is-fullwidth
    %tr
      %thead
        %tr
          %th Nombre Completo
          %td= @doctor
        %tr
          %th ¿Puede iniciar sesión?
          %td= active(@doctor)
        %tr
          %th Especialidad
          %td= @doctor.specialty
        %tr
          %th Cédula Profesional
          %td= @doctor.professional_card
        %tr
          %th Correo Electrónico
          %td= @doctor.email
.buttons
  = link_to doctors_path, class: "button is-link" do
    %span.icon
      %i.fa.fa-arrow-left
    %span Regresar

  = link_to [:edit, @doctor], class: "button is-warning" do
    %span.icon
      %i.fa.fa-edit
    %span Editar
