<div class="container">
  <div class="has-text-right">
    <%= l @hospitalization.created_at, format: :normal %>
  </div>

  <div class="content mt-6">
    <div class="has-text-centered">Hoja de Egreso Hospitalario</p>
  </div>

  <div class="content">
    <strong>
      <%= t "activerecord.attributes.hospitalization.patient" %>:
      <%= @hospitalization.patient %>
      <small><%= age_months @hospitalization.patient %></small>
    </strong>

    <div>
      <%= t "activerecord.attributes.hospitalization.starting" %>:
      <%= l @hospitalization.starting, format: :default %>
    </div>

    <strong>
      <%= t "activerecord.attributes.hospitalization.ending" %>:
      <%= l @hospitalization.ending, format: :default %>
    </strong>

    <div>
      <%= t "activerecord.attributes.hospitalization.days_of_stay" %>:
      <%= @hospitalization.days_of_stay&.to_i %>
    </div>

    <strong>
      <%= t "activerecord.attributes.hospitalization.status" %>:
      <%= @hospitalization.status %>
    </strong>

    <div>
      <%= t "activerecord.attributes.hospitalization.input_diagnosis" %>:
      <%= @hospitalization.input_diagnosis&.html_safe %>
    </div>

    <strong>
      <%= t "activerecord.attributes.hospitalization.output_diagnosis" %>:
      <%= @hospitalization.output_diagnosis&.html_safe %>
    </strong>

    <div>
      <%= t "activerecord.attributes.hospitalization.reason_for_hospitalization" %>
      <%= @hospitalization.reason_for_hospitalization&.html_safe %>
    </div>
  </div>

  <div class="content has-text-justified">
    <strong><%= t "activerecord.attributes.hospitalization.treatment" %></strong>
    <%= @hospitalization.treatment&.html_safe %>
  </div>

  <div class="content has-text-justified">
    <strong><%= t "activerecord.attributes.hospitalization.recommendations" %></strong>
    <%= @hospitalization.recommendations&.html_safe %>
  </div>
</div>

