<div class="container">
  <div class="has-text-right">
    <%= l @hospitalization.created_at, format: :normal %>
  </div>

  <div class="content" style="padding-top: 50px;">
    <div class="has-text-centered">Hoja de Egreso Hospitalario</p>
  </div>
</div>

<div class="container">
  <div class="content">
    <div>
      <%= t "activerecord.attributes.hospitalization.patient" %>:
      <%= @hospitalization.patient %>
      <small><%= age_months @hospitalization.patient %></small>
    </div>

    <div>
      <%= t "activerecord.attributes.hospitalization.starting" %>:
      <%= l @hospitalization.starting, format: :default %></div>
    </div>
  </div>

  <div>
    <%= t "activerecord.attributes.hospitalization.ending" %>:
    <%= l @hospitalization.ending, format: :default %>
  </div>

  <div>
    <%= t "activerecord.attributes.hospitalization.days_of_stay" %>:
    <%= @hospitalization.days_of_stay&.to_i %>
  </div>

  <div>
    <%= t "activerecord.attributes.hospitalization.status" %>:
    <%= @hospitalization.status %>
  </div>

  <div>
    <%= t "activerecord.attributes.hospitalization.input_diagnosis" %>:
    <%= @hospitalization.input_diagnosis&.html_safe %>
  </div>

  <div>
    <%= t "activerecord.attributes.hospitalization.output_diagnosis" %>:
    <%= @hospitalization.output_diagnosis&.html_safe %>
  </div>

  <div>
    <%= t "activerecord.attributes.hospitalization.reason_for_hospitalization" %>
    <%= @hospitalization.reason_for_hospitalization&.html_safe %>
  </div>

  <hr>
  <div class="content">
    <%= t "activerecord.attributes.hospitalization.treatment" %>
    <%= @hospitalization.treatment&.html_safe %>
  </div>

  <hr>
  <div class="content">
    <%= t "activerecord.attributes.hospitalization.recommendations" %>
    <%= @hospitalization.recommendations&.html_safe %>
  </div>
</div>

