<div class="font-size-11-px text-right">
  <%= l @hospitalization.created_at, format: :normal %>
</div>
<p class="text-center" style="padding-top: 50px;">Hoja de Egreso Hospitalario</p>

<p>
  <div class="display-inline-block vertical-align-middle font-weight-bold">
    <%= t "activerecord.attributes.hospitalization.patient" %>:
  </div>
  <div class="display-inline-block vertical-align-middle">
    <%= @hospitalization.patient %>
    <small><%= age_months @hospitalization.patient %></small>
  </div>
</p>

<p>
  <div class="display-inline-block vertical-align-middle font-weight-bold">
    <%= t "activerecord.attributes.hospitalization.status" %>:
  </div>
  <div class="display-inline-block vertical-align-middle">
    <%= @hospitalization.status %>
  </div>
</p>

<p>
  <div class="display-inline-block vertical-align-middle font-weight-bold">
  <%= t "activerecord.attributes.hospitalization.starting" %>:
  </div>
  <div class="display-inline-block vertical-align-middle">
  <%= l @hospitalization.starting, format: :default %></div>
  </div>
</p>

<p>
  <div class="display-inline-block vertical-align-middle font-weight-bold">
    <%= t "activerecord.attributes.hospitalization.ending" %>:
  </div>
  <div class="display-inline-block vertical-align-middle">
    <%= l @hospitalization.ending, format: :default %>
  </div>
</p>

<p>
  <div style="width: 150px;" class="display-inline-block vertical-align-middle font-weight-bold">
    <%= t "activerecord.attributes.hospitalization.days_of_stay" %>:
  </div>
  <div class="display-inline-block vertical-align-middle">
    <%= @hospitalization.days_of_stay %>
  </div>
</p>

<div class="font-weight-bold">
  <%= t "activerecord.attributes.hospitalization.input_diagnosis" %>:
</div>
<p><%= @hospitalization.input_diagnosis&.html_safe %></p>

<div class="font-weight-bold">
  <%= t "activerecord.attributes.hospitalization.output_diagnosis" %>:
</div>
<p><%= @hospitalization.output_diagnosis&.html_safe %></p>

<div class="font-weight-bold">
  <%= t "activerecord.attributes.hospitalization.reason_for_hospitalization" %>
</div>
<p><%= @hospitalization.reason_for_hospitalization&.html_safe %></p>

<div class="font-weight-bold">
  <%= t "activerecord.attributes.hospitalization.treatment" %>
</div>
<p><%= @hospitalization.treatment&.html_safe %></p>

<div class="font-weight-bold">
  <%= t "activerecord.attributes.hospitalization.recommendations" %>
</div>
<p><%= @hospitalization.recommendations&.html_safe %></p>

