<h3 class="text-center">Hoja de egreso hospitalario</h3>

<table class="table">
  <thead class="text-center">
    <tr>
      <th>Doctor</th>
      <th>Paciente</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td><%= @hospitalization.doctor %></td>
      <td><%= @hospitalization.patient %></td>
    </tr>
  </tbody>
</table>

<h3 class="text-center">Detalle de la hospitalización</h3>
<table class="table">
  <thead class="text-center">
    <tr>
      <th><%= t "activerecord.attributes.hospitalization.starting" %></th>
      <td><%= @hospitalization.starting %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.hospitalization.ending" %></th>
      <td><%= @hospitalization.ending %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.hospitalization.days_of_stay" %></th>
      <td><%= @hospitalization.days_of_stay %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.hospitalization.reason_for_hospitalization" %></th>
      <td class="text-justify"><%= @hospitalization.reason_for_hospitalization %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.hospitalization.treatment" %></th>
      <td class="text-justify"><%= @hospitalization.treatment %></td>
    </tr>
  </thead>
</table>
