<div class="container">
  <div class="has-text-right">
    Fecha de envío <%= l @patient_referral.created_at, format: :normal %>
  </div>

  <div style="padding-top: 50px;" class="has-text-centered">Hoja de envío</div>

  <div class="content">
    <div>Paciente: <%= @patient_referral.patient %></div>
    <div>Edad: <%= age_months @patient_referral.patient %></div>
    <div class="has-text-weight-bold">A: <%= @patient_referral.referred_doctor %></div>
    <div>Especialidad: <%= @patient_referral.referred_doctor.specialty %></div>
    <div>Dirección: <%= @patient_referral.referred_doctor.address %></div>
    <div>Tel: <%= number_to_phone @patient_referral.referred_doctor.phone_number %></div>
    <div>Tipo de envío: <%= @patient_referral.importance %></div>
  </div>

  <div class="content">
    <%= @patient_referral.subject %>
  </div>

  <%= @patient_referral.content.html_safe %>
</div>


