<div class="text-right" style="padding-top: 80px; padding-right: 130px; font-size: 18px;">
  <strong class="text-uppercase">
    <%= @appointment.patient %>
    <%= age_months(@appointment.patient) %>
  </strong>

  <div><%= l @appointment.created_at, format: :normal %></div>

  <div>Receta No. <%= @appointment.id %></div>
</div>

<div style="padding-top:10px; font-size: 18px;">
  <%= raw @appointment.prescription %>
  <% if @recommendations.present? %>
    <p>RECOMENDACIONES</p>
    <%= raw @recommendations %>
  <% end %>
</div>
