<div class="header text-size-11 text-right">
  <strong class="text-uppercase"><%= @appoinment.patient %></strong>

  <div>
    <%= age @appoinment.patient %>
    <% if @appoinment.height.present? %>
      <%= @appoinment.height %> cm.
    <% end %>
    <% if @appoinment.weight.present? %>
      <%= @appoinment.weight %> kg.
    <% end %>
    <% if @appoinment.imc.present? %>
      IMC <%= number_with_precision(@appoinment.imc, precision: 2) %>
    <% end %>
  </div>

  <div>
    <%= l @appoinment.created_at, format: :normal %>
  </div>
</div>

<div class="text-size-11" style="padding-top:40px">
  <%= raw @appoinment.prescription %>
</div>
