<div class="text-size-13">
  <div class="text-right text-uppercase" style="padding-top: 50px; padding-right: 130px">
    <div>
      <%= l @medical_consultation.created_at, format: :not_hour %>
      <strong>
        <%= @medical_consultation.patient %>
        <%= age_months(@medical_consultation.patient) %>
      </strong>
    </div>

    <div>
      <% if @medical_consultation.height.present? %>
        <%= @medical_consultation.height %> Cm.
      <% end %>
      <% if @medical_consultation.imc.present? %>
        <%= number_with_precision(@medical_consultation.imc, precision: 2) %> IMC
      <% end %>
      <% if @medical_consultation.blood_pressure.present? %>
        <%= @medical_consultation.blood_pressure %>
      <% end %>
    </div>
  </div>

  <div style="padding-top:10px">
    <pre><%= @medical_consultation.prescription %></pre>
    <pre><%= @medical_consultation.recommendation %></pre>
  </div>
</div>
