<div class="header text-right text-uppercase">
  <strong><%= @appointment.patient %></strong>

  <div>
    <%= age @appointment.patient %>
    <% if @appointment.height.present? %>
      <%= @appointment.height %> Cm.
    <% end %>
    <% if @appointment.weight.present? %>
      <%= @appointment.weight %> Kg.
    <% end %>
    <% if @appointment.imc.present? %>
      <%= number_with_precision(@appointment.imc, precision: 2) %> IMC
    <% end %>
  </div>

  <div>
    <%= l @appointment.created_at, format: :normal %>
  </div>
</div>

<div style="padding-top:40px">
  <%= raw @appointment.prescription %>
</div>
