<div class="header text-right text-uppercase">
  <strong><%= @appoinment.patient %></strong>

  <div>
    <%= age @appoinment.patient %>
    <% if @appoinment.height.present? %>
      <%= @appoinment.height %> Cm.
    <% end %>
    <% if @appoinment.weight.present? %>
      <%= @appoinment.weight %> Kg.
    <% end %>
    <% if @appoinment.imc.present? %>
      <%= number_with_precision(@appoinment.imc, precision: 2) %> IMC
    <% end %>
  </div>

  <div>
    <%= l @appoinment.created_at, format: :normal %>
  </div>
</div>

<div style="padding-top:40px">
  <%= raw @appoinment.prescription %>
</div>
