<div class="text-right" style="padding-top: 100px; padding-right: 130px; font-size: 18px;">
  <strong class="text-uppercase"><%= @appointment.patient %></strong>

  <div><%= age_months(@appointment.patient) %></div>

  <div>
    <%= height_for_human(@appointment) %>
    <%= weight_for_human(@appointment) %>
    <%= imc_for_human(@appointment) %>
  </div>

  <div><%= l @appointment.created_at, format: :normal %></div>

  <div><%= t("activerecord.attributes.appointment.number", number: @appointment.id) %></div>
</div>

<div style="padding-top: 10px; font-size: 18px;">
  <%= raw @appointment.prescription %>

  <%- if @appointment.patient.allergies.present? -%>
    <p><%= t("activerecord.attributes.user.allergies").upcase %></p>
    <%= raw @appointment.patient.allergies %>
  <%- end -%>

  <%- if @appointment.recommendations.present? -%>
    <p><%= t("activerecord.attributes.appointment.recommendations").upcase %></p>
    <%= raw @appointment.recommendations %>
  <%- end -%>
</div>
