= render "shared/title", title: "Domicilio"

= f.simple_fields_for(:address) do |af|
  .grid.gap-2.grid-cols-1.md:grid-cols-3
    = af.input :street
    = af.input :number
    = af.input :colony
    = af.input :postal_code
    = af.input :municipality
    = af.input :state, collection: states_for_select, selected: "Oaxaca"
