= f.simple_fields_for(:address) do |af|
  = af.input :street
  = af.input :number
  = af.input :colony
  = af.input :postal_code
  = af.input :municipality
  = af.input :state, collection: states_for_select, selected: "Oaxaca"
