-# frozen_string_literal: true

= simple_form_for(patient_referral) do |f|
  = f.input :referred_doctor_id, collection: referred_doctor_for_select
  = f.input :patient_id, collection: patients_for_select
  = f.input :importance, collection: importances_for_select
  = f.input :subject
  = f.input :content, as: :trix_editor

  = f.button :submit
