-# frozen_string_literal: true

= simple_form_for(patient_referral) do |f|
  = render 'shared/title', title: title

  .grid.gap-2.grid-cols-1.md:grid-cols-2
    .mb-4
      = f.label :referred_doctor, class: label_classes
      = f.combobox :referred_doctor_id, referred_doctors_for_select
      = combobox_error(f.object, :referred_doctor)

    .mb-4
      = f.label :patient, class: label_classes
      = f.combobox :patient_id, patients_for_select
      = combobox_error(f.object, :patient)

    = f.input :importance, collection: importances_for_select
    = f.input :subject
  = f.input :content, as: :trix_editor

  = f.button :submit
