= render 'shared/section' do
  .flex.flex-col.md:flex-row.space-y-2.md:space-y-0.md:space-x-2
    = link_to :back, class: secondary_button do
      %span.fa.fa-arrow-left
      = t('.back')

= render 'shared/section' do
  = turbo_frame_tag :patient_information, class: 'hidden space-y-4' do
    = render 'patients/information/index', patient: @patient, appointments: @appointments

  = render 'form', appointment: @appointment, title: t('helpers.submit.appointment.create')
