%tr
  %td= l appoinment.created_at, format: :not_hour
  %td= raw appoinment.reason.truncate(50)
  %td= raw appoinment.prescription.truncate(50)
  %td
    .buttons.is-right
      = link_to [appoinment, format: :pdf], "data-tooltip": "Imprimir", class: "button is-success tooltip", target: "_blank" do
        %i.fa.fa-print

      = link_to appoinment, "data-tooltip": "Detalles", class: "button is-link tooltip" do
        %i.fa.fa-eye

      = link_to appoinment, class: "button is-danger tooltip is-tooltip-left", data: { confirm: "Estas seguro de eliminar?", method: :delete, tooltip: "Eliminar consulta" } do
        %i.fa.fa-times

