%tr
  %td= l appoinment.created_at, format: :not_hour
  %td= raw appoinment.reason.truncate(50)
  %td= raw appoinment.prescription.truncate(50)
  %td
    .buttons.is-right
      = link_to [appoinment, format: :pdf], "data-tooltip": "Imprimir", class: "button is-danger tooltip", target: "_blank" do
        %i.fa.fa-print

      = link_to appoinment, "data-tooltip": "Detalles", class: "button is-link tooltip" do
        %i.fa.fa-eye
