%tr.hover:bg-gray-200.dark:hover:bg-gray-700
  %td.py-2.whitespace-nowrap= appoinment.patient
  %td.py-2.whitespace-nowrap= truncate(appoinment.reason, lenght: 50)
  %td.py-2.whitespace-nowrap= appoinment.created_at.to_date
  %td.py-2.whitespace-nowrap
    .flex.flex-row.justify-center.gap-2
      = link_to appoinment_path(appoinment, format: :pdf), 'data-tooltip': t('tooltips.defaults.print'), class: "#{secondary_button} tooltip tooltip-top", target: :_blank do
        %span.fa.fa-print.text-red-600
      = link_to edit_appoinment_path(appoinment), 'data-tooltip': t('tooltips.defaults.edit'), class: "#{secondary_button} tooltip tooltip-top" do
        %span.fa.fa-edit.text-yellow-600
      = link_to appoinment, 'data-tooltip': t('tooltips.defaults.details'), class: "#{secondary_button} tooltip tooltip-top" do
        %span.fa.fa-eye.text-sky-600
