-# frozen_string_literal: true

= simple_form_for(appoinment) do |f|
  = render "shared/title", title: title

  = f.association :patient, collection: patients_for_select, prompt: true
  = f.input :reason
  = f.input :note, as: :trix_editor
  = f.input :prescription, as: :trix_editor
  = f.input :recommendations, as: :trix_editor
  = f.input :cabinet_results
  = f.input :histopathology

  = f.input :blood_pressure
  = f.input :heart_rate
  = f.input :breathing_rate
  = f.input :temperature
  = f.input :glycaemia
  = f.input :sat_02

  = f.input :height, hint: t("simple_form.hint.defaults.height")
  = f.input :weight, hint: t("simple_form.hint.defaults.weight")
  = f.input :imc, input_html: { readonly: true, class: "cursor-not-allowed" }

  = f.input :files
  = f.input :cost, hint: t("simple_form.hint.defaults.cost")

  = f.button :submit
