= render 'shared/section' do
  .flex.flex-col.md:flex-row.space-y-2.md:space-y-0.md:space-x-2
    = link_to :appoinments, class: secondary_button do
      %span.fa.fa-arrow-left
      = t('.back')

= render 'shared/section' do
  = turbo_frame_tag :patient_information, class: 'hidden space-y-4' do
    = render 'appoinments/patient_information', patient: @patient, appoinments: @appoinments

  = render 'form', appoinment: @appoinment, title: t('helpers.submit.appoinment.create')
