%p= t('devise.mailer.hello', email: @resource.email)

%p= t('.someone_requested')

%p= link_to t('.button'), edit_password_url(@resource, reset_password_token: @token, subdomain: @resource.hospital_subdomain)

%p= t('.please_ignore')
%p= t('.password_wont_change')
