= render "shared/title", title: t('.title')

.grid.gap-4.grid-rows-4.grid-flow-row.md:grid-flow-col
  - patient.attributes.slice('allergies', 'birthday', 'pathological_background', 'non_pathological_background', 'gyneco_obstetric_background', 'system_background', 'family_inheritance_background', 'physic_exploration', 'other_background').map do |key, value|
    - if value.present?
      %dl
        %dt.text-gray-400.my-2= t("activerecord.attributes.user.#{key}")
        - if key.eql?('allergies')
          %dd.text-red-400= value
        - elsif key.eql?('birthday')
          %dd= age_months patient
        - else
          %dd= raw value
