%nav.navbar
  .container
    .navbar-brand
      = link_to patients_path, class: "navbar-item" do
        %h6.title.is-5
          = current_hospital.name
      %span.navbar-burger.burger{ "data-target" => "navMenu", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
    #navMenu.navbar-menu
      .navbar-end
        - if user_signed_in?
          .navbar-item.has-dropdown.is-hoverable
            .navbar-link
              = "Dr. #{current_user.name}"
            .navbar-dropdown
              -#.navbar-item
                -#%a
                  -#%i.fas.fa-user-circle
                  -#Perfil
              .navbar-item
                = link_to destroy_user_session_path, method: :delete do
                  %i.fas.fa-sign-out-alt
                  Cerrar Sesión

