%aside.menu
  .field
    .control
      = select_tag :patient_id, options_for_select(patients_for_select), { prompt: "Buscar Paciente", class: "select2" }
  %p.menu-label
    MENÚ
  %ul.menu-list
    %li
      = link_to patients_path(subdomain: current_hospital.subdomain), class: active_for(patients_path) do
        %span.icon
          %i.fa.fa-users
        %span Pacientes
    %li
      = link_to appoinments_path(subdomain: current_hospital.subdomain), class: active_for(appoinments_path) do
        %span.icon
          %i.fa.fa-book
        %span Consultas
    %li
      = link_to hospitalizations_path(subdomain: current_hospital.subdomain), class: active_for(hospitalizations_path) do
        %span.icon
          %i.fa.fa-ambulance
        %span Hospitalizaciónes
  - if is_admin?
    %p.menu-label
      CONFIGURACIÓN
    %ul.menu-list
      %li
        = link_to doctors_path(subdomain: current_hospital.subdomain), class: active_for(doctors_path) do
          %span.icon
            %i.fa.fa-user-md
          %span Doctores
      %li
        = link_to [:edit, current_hospital], class: active_for(edit_hospital_path(current_hospital)) do
          %span.icon
            %i.fa.fa-hospital
          %span Página principal
